body, html {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}

body {
   	background:#323232;
   	color:#efefef;
   	height: auto;
   	width: auto;
   	padding:50px;
   	font:14px/1.5, "Helvetica Neue", Helvetica, Arial, sans-serif;
   	font-weight:300;
}

h1, h2, h3, h4, h5, h6 {
  color:#f0f0f0;
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:148px;
}

h2 {
  color:#393939;
}

h3, h4, h5, h6 {
  color:#494949;
}

a {
  color:#39c;
  font-weight:400;
  text-decoration:none;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.6em;
  display:block;
}

.wrapper {
  text-align: center;
  width:860px;
  margin:0 auto;
}

img {
  max-width:100%;
}